<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Ride Review</title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  		  <div class="col-md-10 col-md-offset-1">
		  	<table class="table table-bordered">
		  	  <tr>
				<td>S No.</td>
				<td>Drivers Name</td>  		
				<td>Licence Plate</td>
				<td>Vechiles Condition</td>
				<td>Drivers Review</td>
		      </tr>
		      <tr>
				<td>1</td>
				<td>Yatin</td>  		
				<td>DL-3C-AQ-1999</td>
				<td>3</td>
				<td>4</td>
		      </tr>
		      <tr>
				<td>2</td>
				<td>Shourya</td>  		
				<td>DL-MC-6D-0001</td>
				<td>2</td>
				<td>3</td>
		      </tr>
			</table>
		  </div>
		</div>
	</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>