<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Ride Review</title>
  	<link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css">
  </head>
  <body>

  	<form method="post">
<p>
Please specify a file, or a set of files:<br>
<input type="file" name="datafile" size="40">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../.js"></script>
  </body>
</html>