<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/stylesheets/front.css">
  </head>
  <body>
    <video autoplay loop poster="polina.jpg" id="bgvid">
    <source src="../public/video/India.mp4" type="video/mp4">
    </video>
    <section id="Button">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <center><a class="contribute-btn" href="#" data-element-location="button-click">Explore India</a></center>
      </div>
    </section>
  </body>
</html>
