<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css01.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>

  <body>
  <section id="sec1">
  	<div class="container">
  		<div class="row">
  			<div class="col-md-8">
  				<h2>RideReview</h2>
  			</div>

  			<div class="col-md-4">
  			
				  <form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputEmail3">Search</label>
    <input type="text" class="form-control" id="exampleInputEmail3" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
  </form>
  				
  			</div>
  		
  		</div>
  		
  	</div>
  </section>

  <section id="sec2">
  <div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2 id="heading1">Are You new In Delhi?? Make Your Trip A Safer One!! <small>We Provide You The Best Services</small></h2>

		</div>
	</div>  	
  </div>
 </section>

 <section id="sec3">
   <div class="container">
	<div class="row">
		<div class="col-md-6">
		<h3>Scan Your Driver </h3><br>
		<p> On clicking this button below you will get a form which ask you about all the details related to your auto/taxi driver and also ask to rate him.

    </p>
		<button type="button" class="btn  btn-lg btn-block" ><a href="/upload">Get Details</a></button>
			
		</div>
	
  	

  	 <div class="container">
	<div class="row">
		<div class="col-md-6">
		<h3>Ride Plan </h3><br>
		<p> On clicking on this button you will bw able to see the upcoming events .</p>
		<button type="button" class="btn  btn-lg btn-block">Go For The Events</button>
			
		</div>
	</div>  	
  	</div>
  </section>
 


  
  

  </body>
    

    <section>

    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>