<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/css02.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  </head>
  <body>

  <h1>Driver's Profile</h1>

  <div class="container" >
      <div class="row" >
          <div class="col-md-6" >
          <h2>Details</h2>
              <table class="table table-condensed" >
                  <tr>
                      <td>Name</td>
                      <td>Pushkar</td>
                  </tr>
                  <tr>
                      <td>Age</td>
                      <td>69</td>
                  </tr>
                  <tr>
                      <td>Licence Number</td>
                      <td>DL-3C-J9-1009</td>
                  </tr>
                  <tr>
                      <td>Average Rating</td>
                      <td>6.45</td>
                  </tr>
              </table>
          </div>
      <div class="col-md-6" >
      <h2>Review</h2>
      <table class="table table-condensed" >
          <tr>
              <td><p>User</p></td>
              <td><p>Review</p></td>
          </tr>
          <tr>
            <td>Abhinav</td>
            <td>Driver drivers his cab safely.</td>
          </tr>
          <tr>
            <td>Abhijeet</td>
            <td>Needs to improve his vechile's coondition.</td>
          </tr>
      </table>
      </div>
      </div>
            <div id="reviewButton" class="col-md-2 col-md-offset-5" >
                <button class="btn btn-default" type="submit">Write a Review</button>
          </div>
      </div>
  </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>
</html>