<!DOCTYPE html>
<html lang="en">
  <head>
  	<title><%=title%></title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>

  	<form method="post" enctype="multipart/form-data" id="reviewForm" >
  		
<p><strong>Condition of the vechile?</strong></p>
<input type="radio" name="condition" value="poor"/>Poor
<br>
<input type="radio" name="condition" value="average"/>Average
<br>
<input type="radio" name="condition" value="good"/>Good
<br>
<p><strong>Behaviour of the driver?</strong></p>
<input type="radio" name="behaviour" value="poor"/>Poor
<br>
<input type="radio" name="behaviour" value="average"/>Average
<br>
<input type="radio" name="behaviour" value="good"/>Good

<br>
<p><strong>Enter your Review please</strong></p>
<textarea rows="4" cols="50" name="comment" form="reviewForm">Your review here</textarea>


		
		<br>
		E-mail Address<br>
		<input type="text" name="email" placeholder="Email ID"/>
		<br>
		<br>
<input type='submit', value='submit'/>
</form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>