<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Ride Review</title>
  	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>

  	<form method="post" >
  		
<p>Condition of the vechile?</p>
<input type="radio" name="condition" value="poor">Poor
<br>
<input type="radio" name="condition" value="average">Average
<br>
<input type="radio" name="condition" value="good">Good
<br>
<p>Behaviour of the driver?</p>
<input type="radio" name="behaviour" value="poor">Poor
<br>
<input type="radio" name="behaviour" value="average">Average
<br>
<input type="radio" name="behaviour" value="good">Good

<br>
<p>any comments</p>
<textarea rows="4" cols="50" name="comment">Enter text here...</textarea>

<br>
        Name<br>
		<input type="text" name="name">
		<br>
		<br>
		E-mail Address<br>
		<input type="text" name="email">
		<br>
		<br>
<input type='submit', value='submit'/>
</form>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>